<html>
<head>

<title>Todo List</title>
<link href="/assets/styles.css" rel="stylesheet" type = "text/css"> 
</head>

<body>
<div id = "todo-table">

<form>
<input form = "text" name = "item" placeholder = "Add new items" required/>

<button type = "submit">Add new items</button>
</form>
<ul>
<li>item 1</li>
<li>item 2</li>
<li>item 3</li>
</ul>




</html>